<h1>Search for Courses:</h1>
<form method="post" action="/coursesBySubject">
  Subject <input type="text" name="subject" />
  <br />
  term <input type="number" name="term" />
  <br />
  <input type="submit" />
</form>