<h1>3d Distance calculator</h1>
enter the (x,y,z) coordinates of a point
<hr>
<form method = "post" action="/dist">
    x = <input type = "number" step = "any" name = "x">
    <br>
    y = <input type = "number" step = "any" name = "y">
    <br>
    z = <input type = "number" step = "any" name = "z">
    <hr>
    <input type = "submit">
</form>