<h1>Search DnD API for spells.</h1>

<form method="post" action="/dnd">
  Hello, please search for a spell (by name) in a DnD 5th edition API.
  <br>
  <input type="text" name="search" step="any" />
  <br />
  <input type="submit" />
</form>