<h1>An error has occured.</h1>
</br>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
Please enjoy this picture of a large rabbit while you debug.
<br>
<img src="https://www.peoriazoo.org/wp-content/uploads/2014/04/41bgiantflemmishrabbit.jpg" alt="A flemish giant rabbit laying on a green floor." width="500" height="600">
<br>