

    <p class="bg-danger">Welcome to Ian's app</p>
    Here is my <a href="/bio">bio</a>
    <br>
    <a href="/simpleform">go to simple form</a>
    <br>
    <a href = /bmi> go to BMI calculator</a>
    <br>
    <a href = /dist> go to distance calculator</a>
    <br>
    <a href = /meals>go to meals</a>
    <br>
    <a href = /dnd>go to dnd api search</a>
    <br>
    <a href="/exam3b">Exam3b</a>
    <br>
    <a href="/todo">todo</a>
    <br>
    
