<ol>
    <% for(spell of spells) {%>
        <li><%= spell.spellIndex %> 
            <!--<a href="/deleteFromSchedule/<%= spell.index%>">delete</a>-->
        </li>
    <% } %>
</ol>
<%= JSON.stringify(spells) %>