<h1>Show Meals containing <%= ingredient %></h1>
<% for(r of recipes){%> 
    <%= r.strMeal %>
    <br>
    <img src = "<%= r.strMealThumb %>" alt = "Photo of meal described above, which is <%= r.strMeal %>">
    <hr>
<% } %>